@import "bourbon";
@import "vars.scss";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.krasnodar{
		h2{
			font-size: 50px;
			font-weight: 700;
		}
		p{
			font-size: 26px;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.krasnodar{
		h2{
			font-size: 47px;
			font-weight: 700;
		}
		p{
			font-size: 23px;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.krasnodar{
		h2{
			font-size: 42px;
		}
		p{
			font-size: 20px;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.krasnodar{
		h2{
			font-size: 34px;
		}
		p{
			font-size: 20px;
		}
	}
}