@import "bourbon";
@import "vars.scss";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
	.news-ser{
		max-height: 140px;
	}
}
@media only screen and (max-width : 1200px) {
	.news-ser{
		max-height: 139px;
	}
	.krasnodar{
		h2{
			font-size: 50px;
			font-weight: 700;
		}
		p{
			font-size: 26px;
		}
	}
}

@media only screen and (max-width : 1128px) {
	.news-bord h2{
		min-height: 126px;
	}
	.news-ser{
		font-size: 10px;
		line-height: 14px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.krasnodar{
		h2{
			font-size: 47px;
			font-weight: 700;
		}
		p{
			font-size: 23px;
		}
	}

	.news-ser{
		max-height: 235px;
	}
	.news-mid__item{
		min-height: 592px;
	}
	.routes__item{
		min-height:474px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.krasnodar{
		h2{
			font-size: 42px;
		}
		p{
			font-size: 20px;
		}
	}
	.news-mid__item{
		min-height: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.krasnodar{
		h2{
			font-size: 34px;
		}
		p{
			font-size: 20px;
		}
	}
}