/* ============================ form css =========================== */

h2{
  font-size: 52px;
  font-weight: 700;
}
h3{
  color: #222;
  font-size: 36px;
  font-weight: 500;
  line-height: 35px;
}
.p-thin{
  font-size: 28px;
  font-weight: 400;
  color: white;
}
p{
  font-size: 18px;
  font-weight: 400;
}
.p-bold{
  font-size: 26px;
  font-weight: 700;
}
.p-small{
  color: white;
  font-size: 17px;
  font-weight: 400;
}







.jb_input .tooltip-arrow {}
.jb_input .mess_error {position: relative; width: 100%; padding: 5px 0px; top: -5px; float: left;}

/* ============================ form css media =========================== */
@media only screen and (max-width : 992px) {


}

@media only screen and (max-width : 320px) {


}