@import "bourbon";
@import "vars.scss";
*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}
*:-moz-placeholder{
    color: #666;
    opacity: 1;
}
*::-moz-placeholder{
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}
body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.news-mid__item{

}
.news-right{
    color: #222;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
}
.news-left{
    padding-bottom: 20px;
}
.news-bord{
    border-top: 1px solid #d3d3d3;
}
.line{
    width: 65px;
    height: 3px;
    background-color: #dedede;
    margin-top: 16px;
}
.news-bord h4{
    color: #222;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 30px;
    min-height: 102px;
}
.data{
    color: #dd0808;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
}
.locale{
    color: #8b8b8b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 8px;
}
.info-sity{
    color: #222;
    font-family: 'Istok Web', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 15px;
}
.news-bord img{
    padding: 15px 0 0 0;
    width: 100%;
}
.news-ser{
    color: #8b8b8b;
    font-family: 'Istok Web', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
    max-height: 200px;
    overflow: hidden;
}
.all-news-popup{
    border: 2px solid lightgrey;
    background: #fff;
    border-radius: 4px;
    color: #222;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 39px ;
    &:hover{
        background-color: #8a8a8a;
    }
}
.news p{
    color: #222;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.routes__item__top{

}
.routes__item__p1{
    color: #222;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}
.routes__item__p2{
    color: #222;
    font-family: 'Istok Web', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";